
/*----- mobile responsive---- */



    
    /*header en mobile */
.logo{
float: unset;
width: 125px; 
}

header
{
flex-direction: column;
align-items: unset;
justify-content: space-between;
margin: unset;
width: 100%;
}

.headermobile
{
display: flex; 
justify-content: space-between;
align-items: center;
padding-left: 20px;
padding-right: 20px;
}

.headermobile a
{
padding: unset;
border: none;
font-weight: 900;
font-size: 1.2rem;
color: #0065fc;
text-decoration: none;
}

.li_inscrire
{
display: none;
}

#inscriremobile
{
display: initial;
border: none;
}

#inscriremobile:hover
{
text-shadow: navy 0.02em 0.02em 0.02em;
}

.headernav
{
width: 100%;
align-items: center;
}

.headernav ul
{
margin: unset;
padding: unset;
margin-top: 10px;
width: 100%;
}

.headernav li
{
border-bottom: 4px solid lightgrey;
text-align: center;
margin: unset;
width: 100%;
padding: 10px;
border-top: none;
padding-bottom: 10px;
border-collapse: collapse;
}

.headernav li:hover
{
border-top: none;
border-bottom: 4px solid #0065fc;
cursor: pointer;
}

.headernav li:hover a
{
color: #0065fc;
}

.headernav a:hover
{
border-top: none;
color: #0065fc;
}


/*bouton rechercher*/

#submitrecherche{
    display: none;
}

#loupe{
    display: block;
}

#loupe i {
    color: white;
    font-size: 25px;
    padding-left: 20px;
}
#loupe i:hover {
    color:#0065fc;
}


/* -----filtres de navigation-------*/

.search__city, #search__text, #submitrecherche{
    width: 100%;
}



/* side-bar les populaires */

.sidebar {
    margin:0;
    border-radius: 0;
}




/* les hebergements marseille*/
.container__marseille{
    background-color:white;
}

.hotel__marseille {
    flex-direction: column;
    align-items: center;
    
}
   

.thumbnails__hotel{
 width: 100%;
 margin:10px 0;
 }

.thumbnails__hotel img {
    height: 140px;
}


.afficherplus h2{
    text-align:left;
    margin-top: 0;
    margin-bottom: 20px;
    
 
}

/*---les activites----*/

.activities__marseille {
    flex-direction: column;
    padding: 0;

}


.activities__marseille article{
margin: 0 0 20px 0;
}
.card2, .card5 {
    margin-bottom: 20px;
}


.activities__marseille article img {
    height: 200px;
    
}

.activities__marseille h2 {
    text-align: left;
    margin-left: 10px;
}
.activities__title h1 {
    margin-left: 10px;
}








/* ----footer----*/

.footer {
    margin: 0;
    align-items:left;
   height: auto;
    width: 100%;
    }