
/*----- mobile responsive---- */



    
    /*header en mobile */
.logo{
float: unset;
width: 125px; 
}

header
{
flex-direction: column;
align-items: unset;
justify-content: space-between;
margin: unset;
width: 100%;
}

.headermobile
{
display: flex; 
justify-content: space-between;
align-items: center;
padding-left: 20px;
padding-right: 20px;
}

.headermobile a
{
padding: unset;
border: none;
font-weight: 900;
font-size: 1.2rem;
color: #0065fc;
text-decoration: none;
}

.li_inscrire
{
display: none;
}

#inscriremobile
{
display: initial;
border: none;
}

#inscriremobile:hover
{
text-shadow: navy 0.02em 0.02em 0.02em;
}

.headernav
{
width: 100%;
align-items: center;
}

.headernav ul
{
margin: unset;
padding: unset;
margin-top: 10px;
width: 100%;
}

.headernav li
{
border-bottom: 4px solid lightgrey;
text-align: center;
margin: unset;
width: 100%;
padding: 10px;
border-top: none;
padding-bottom: 10px;
border-collapse: collapse;
}

.headernav li:hover
{
border-top: none;
border-bottom: 4px solid #0065fc;
cursor: pointer;
}

.headernav li:hover a
{
color: #0065fc;
}

.headernav a:hover
{
border-top: none;
color: #0065fc;
}

/* -----filtres de navigation-------*/

.search__city, #search__text, #submitrecherche{
    width: 100%;
}


#titrefiltre{
    display:block;
    margin-bottom: 10px;
}
#bar__filter{
display: flex;
flex-direction: column;
}


.filter {
margin-top:10px;
margin-right: 30px;
width:220px;
}

.filter {
    padding:0
}

#familial {
    position:relative;
    right: -230px;
    top: -65px;
}
#romantique {
    margin-top: -50px;
}




/* side-bar les populaires */

.sidebar {
    margin:0;
    border-radius: 0;
}
.thumbnails__align{
    min-width: 330px;
    max-width: 400px;
}




/* les hebergements marseille*/
.container__marseille{
    background-color:white;
}
.container__marseille h1 {
    margin-left: 0;
    text-align: center;
    margin-right: 180px;
}
.hotel__marseille {
    flex-direction: column;
    align-items: center;
    
}
   

.thumbnails__hotel{
 width: 400px;
 margin:10px 0;
 
 
}

.thumbnails__hotel img {
height:200px;

}


.afficherplus h2{
    text-align: center;
    margin-right: 300px;
    margin-top: 10px;
    margin-bottom: 40px;
   
}

/*---les activites----*/

.activities__title h1{
    text-align: center;
    margin-right:250px;

}

.activities__marseille article{
margin:0;
margin-bottom: 20px;
}








/* ----footer----*/

.footer {
    margin: 0;
    align-items:left;
   height: auto;
    width: 100%;
    }