@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');



            /* ------modification générale de la page*-----*/
*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
 
}
div i {
    color: #0065FC;
}

h1{
font-size: 16px;
font-weight: 700;
}

h2{
font-size: 14px;
}

h3{
font-size: 12px;
}

nav a , a , nav ul {
list-style-type: none;
text-decoration: none;
color: black;
font-weight: bold;

}

a:hover{
color: #0065FC;
}
        /* --------logo+ menu de navigation--------------*/  
        

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo
{
    float: left;
    width: 150px;
}

/* Navigation */

#inscriremobile
{
    display: none;
}

.headernav ul
{
    list-style-type: none;
    display: flex;
    
}

.headernav li
{
    margin-right: 15px;
    margin-top: 20px;
}

.headernav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    line-height: 20px;
    padding-top: 35px;
    padding-left: 10px;
    border-top: 2px solid transparent;
}

.headernav a:hover
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    line-height: 20px;
    padding-top: 35px;
}
#inscrire
{
    color: #0065FC;
}



                       

       /*-----------titre+ bouton de reccherches + filtres---------------*/

.search {
    margin-top: 45px;
}

.search h2 {
margin-bottom: 30px;
 }

.search__city {
display: inline-flex;
border: none;
margin: auto;
overflow: auto;
border: 2px solid #f2f2f2;
border-radius: 15px 15px 15px 15px;
} 

#search__text {
display: inline;
padding: 12px;
width: 210px;
font-size: 100%;
font-weight: bold;
border: none;
}

#localisation {
background-color:  #F2F2F2;
padding: 16px;
 }
  
#localisation i {
color: black;
}

                         

               /* ----stylisation de la partie bouton de recherche----*/


.btn__search {
width: 100px;
font-size: 15px;
font-weight: bold;
background-color:  #F2F2F2;
border-radius: 0px 15px 15px 0px;
padding: 14px 14px 14px 5px;
background-color: #0065fc;
color: white;   
}

.btn__search:hover{
background-color: #deebff;
color: #0065fc;
}


 
 /* -----bouton de filtre------*/
.nav__btn__filter{
display: flex;
margin-top: 30px;
align-items: center;
font-weight: bold;
}
                        
.filter {
border: 2px solid #f2f2f2;
padding-right: 16px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 30px;

}
                        
.filter:hover{
background-color: #f3f8ff;
}

.filter i {
padding: 16px;
border-radius: 100px;
margin-right: 10px;
color: #0065FC;
background-color: #deebff;
margin-bottom: -2px;
border: 1px solid #cad7eb;
text-align:left;
cursor: pointer;
}                                 
                        
.filter:hover i {
color: #deebff;
background-color: #0065FC;
}
.information{
margin:30px 0 30px 0 
}



/* rend le contenu populaire et hebergements alignés et flex */

.flex__container {
display: flex;
border: 2px solid green;
flex-direction:
}


/*--les hebergements de marseille*/

.container__marseille{
flex: 67%;
margin-left: 20px;
height: 620px;
margin-right: 20px;
background-color: #f2f2f2;
border-radius: 20px;
}
.container__marseille h1{
margin-left: 10px;
padding-top: 20px;

}
       
.hotel__marseille{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

             
.thumbnails__hotel {
flex:27%;
background-color: white;
box-shadow: 5px 3px 3px lightgrey;
margin:10px;
border-radius: 20px;         
}  
.thumbnails__hotel img {
width:100%;
height: 120px;
border-radius: 20px 20px 0 0;
padding:3px 0 3px 3px;
} 
                
.thumbnails__hotel h2 {
margin: 5px 0 5px 10px;                      
}  

.thumbnails__hotel h3 {
margin: 5px 0 5px 10px;
}

.star__marseille  {
margin-left: 10px;
}        

.afficherplus h2{
margin:30px 0 0 10px;
font-weight: bold;
}

.afficherplus a:hover {
color: #0065FC;
}
/* la sidebar de droite avec les plus populaires*/

.sidebar {

    display: flex;
    flex-direction: column;
    flex:20%;
    margin-right:20px;
    height: 620px;
    border-radius: 20px;
    background-color: #f2f2f2;

    }
    
 
    .thumbnails__align{
        
        background-color: white;
        border-radius: 20px;
        height: 125px;
        margin: 10px;
        display: flex;
        }

   
    .thumbnails__popular img {
 
    width:40%;
    height:100%;
    padding:3px;
    border-radius: 20px 0 0 20px;
    }

   

    .sidebar a {
        color: black;
        text-decoration: none;
        }
        
    .popular__title{
        margin-top:20px;
        margin-left: 10px;;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }    
   
     
    .popular__title i { 
    margin-right: 10px;
    color: black;
    }

   
    .name__hotel h2 {
    margin-top: 10px;
    }
    
    .star__hotel {
    margin-top:30px;
    } 
    

            /* ---------les activites à marseille-----------*/ 
.activities__title {
    margin-left:30px ;
    margin-top:30px;
}     

.activities__marseille{
display: flex;
justify-content: space-between;
padding: 10px;
height: 450px;
border: solid red 5px;
margin-bottom: 200px;
}                

.activities__marseille article{
flex:25%;

border-radius: 20px;
border: violet 1px solid;
margin: 10px;
}
.activities__marseille img {
width: 100%;
border-radius: 20px 20px 0 0;

}
article h2 {
text-align: center;
margin-top: 0;
}

.card1-1 img {
height:370px;

}
.card2-3{
display: flex;
flex-direction: column;
}

.card1,.card2, .card3, .card4, .card5, .card6 {
margin-bottom: 20px;
border: lightgray solid 1px;
border-radius: 20px;
box-shadow: 5px 3px 3px lightgrey;

}

.card2 img {
    height: 180px;
}

.card3 {
border: lightgray solid 1px;
border-radius: 20px;

}
.card3 img {
height: 130px;
}

.card4-4 img{
border:lightblue solid 4px;
height: 360px;
}

.card5-6 {
display: flex;
flex-direction: column;
}
.card5 img {
height: 140px;
}
.card6 img {
height: 150px;
}
                

/* ----------------le pied de page------------------*/

footer {
    
display: flex;
background-color: #F2F2F2;
height: 220px;

}                
                  
.footer div  {
flex:33%;
}
                

footer a {
text-decoration: none;
color: black;
padding-bottom: 10px;
}

footer a:hover {
color: #0065FC;
}

footer li {
list-style: none;
padding-bottom: 5px;
}



