
/*filtres */

.bar__filter {
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;

}
.filter{
    margin-right: 10px;
   padding:0;
   min-width: 200px;

}
#titrefiltre{
display: block;
}


/* les deux containers hebergement et sidebar*/

.flex__container {
flex-direction: column-reverse;
justify-content: flex-end;
}

/*----sidebar populaires------*/


.sidebar {
width: 100%;
height: auto;
margin-bottom: 30px;
}


.thumbnails__popular img {
width: 150px;

}

.star__hotel {
    margin-top:0;
    padding-top:0;
}




/*hebergement marseille*/

.container__marseille{
width: 100%;
height: auto;
margin:0;
}



/* ---les activites----*/


.activities__marseille{
    flex-wrap: wrap;
    padding-top: 0;
   
}

 .activities__marseille article {
 flex:40%;
 border: darkgoldenrod solid 3px;
}



/*----footer----*/

.footer {
    flex-direction: column;
   height: auto;
    width: 100%;
    }



