
/*filtres */
.nav__btn__filter{
display: block;
}


.bar__filter {
display: flex;
flex-wrap: wrap;
}

.filter {
    
    margin-left: 0;
    margin-top: 10px;
    padding: 0;
    max-height:52px;
    min-width: 200px;
}

   /* les deux containers hebergement et sidebar*/

.flex__container {
flex-direction: column-reverse;
justify-content: flex-end;
}

/*----sidebar populaires------*/


.sidebar {
width: 100%;
height: auto;
margin-bottom: 30px;
}


.thumbnails__popular img {
width: 150px;

}

.star__hotel {
    margin-top:0;
    padding-top:0;
}




/*hebergement marseille*/

.container__marseille{
flex-wrap: wrap;
width: 100%;
height: auto;
margin:0;
}



/* ---les activites----*/


.activities__marseille{
    flex-wrap: wrap;
    padding-top: 0;
   
}

 .activities__marseille article {
 flex:40%;
 
}
.card2 img, .card3 img, .card5 img, .card6 img {
    height: 180px;
}




/*----footer----*/

.footer {
    flex-direction: column;
   height: auto;
    width: 100%;
    }



